{% extends "layout/base.html" %}
{% block title %}
  Admin
{% endblock %}

{% block header %}
  {% include "layout/header.html" %}
{% endblock %}

{% block content %}
<br>
<ul class="nav nav-tabs">
  <li class="nav-item">
      <a class="nav-link" href="{{url_for('admin', page_id=1)}}"><strong>Đơn đã xác nhận</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('admin', page_id=2)}}"><strong>Đơn chưa xác nhận</strong></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{url_for('admin', page_id=3)}}"><strong>Thêm sản phẩm</strong></a>
  </li>

</ul>
<br>
{% if err == 1 %}
<div class="alert alert-success alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong> Đã thêm sản phẩm.
</div>
{% elif err == 0 %}
<div class="alert alert-alert-danger alert-dismissible">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

{% endif %}
{% for item in items %}

<div class="card">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{item.product.image}}" alt="{{item.product.name}}" class="card-img" style="width: 250px; height: 260px; border-radius: 10px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h3 class="card-title">{{item.product.name}}</h3>
            <p>Giá sp: {{item.product.price}} VNĐ</p>
            <p>Số lượng: {{item.quantity}}</p>
            <p>Size: {{item.size}}</p>
            <h4>Tổng tiền: {{item.product.price * item.quantity}} VNĐ</h4>
            <p> <em>Địa chỉ: </em> <a href="https://www.google.com/maps/place/{{item.user.address}}" target="_blank"><em>{{item.user.address}}</em></a></p>
            <p> <em>SĐT: {{item.user.phone_num}}</em></p>
            <br>
            {% if not item.admin_confirm %}
            <form action="{{url_for('admin')}}" method="post">
                <input type="hidden" id="bill_id" name="bill_id" value="{{ item.id }}">

                <button type="submit" class="btn btn-primary" id="sm1" name="sm1">Xác nhận</button>
            </form>
            {% else %}
            <p style="color:green; float:right"><em>Đã xác nhận</em></p>
            {% endif %}
        </div>
      </div>
    </div>
</div>
<br>

{% endfor %}

{% if num_page == 3 %}
<form method="post" action="{{url_for('admin')}}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="avatar">Ảnh:</label>
        <input type="file" class="form-control" id="avatar" name="avatar" style="width:400px" required/>
    </div>
    <div class="form-group">
        <label for="name">Tên sản phẩm:</label>
        <input type="text" class="form-control" placeholder="Tên sản phẩm" id="name" name="name" style="width:400px" required>
    </div>

    <div class="form-group">
        <label for="price">Giá sản phẩm:</label>
        <input type="text" class="form-control" placeholder="Giá sản phẩm" id="price" name="price" style="width:400px" required>
    </div>

    <label for="category">Loại sản phẩm:</label>
    <select class="form-control" id="category" name="category" style="width:400px">
        <option value="1">Áo</option>
        <option value="2">Giày</option>
        <option value="3">Quần</option>
        <option value="4">Phụ kiện</option>
    </select>
    <p></p>

    <div class="form-group">
        <label for="description">Mô tả:</label>
        <input type="text" class="form-control" placeholder="Mô tả" id="description" name="description" style="width:400px">
    </div>

    <button type="submit" class="btn btn-primary" id="sm2" name="sm2">Thêm</button>

</form>
{% endif %}

{% endblock %}