{% extends "layout/base.html" %}
{% block title %}
  Trang chủ
{% endblock %}

{% block header %}
  {% include "layout/header.html" %}
{% endblock %}

{% block content %}

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
        <h2>Thông tin cá nhân</h2>
        <img src="{{current_user.avatar_path}}" width="200" style="border-radius: 90px">
        <br>
        <br>

        <form method="post" action="{{url_for('user_page')}}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="avatar">Avatar:</label>
                <input type="file" class="form-control" id="avatar" name="avatar"/>
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" placeholder="Enter name" id="name" name="name" value="{{current_user.name}}">
            </div>
            <div class="form-group">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" placeholder="Enter email" id="email" name="email" value="{{current_user.email}}" readonly>
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
        <br>
        {% if err == 0 %}
        <div class="alert alert-success">
            <strong>Thay đổi thành công</strong>
        </div>
        {% elif err == 1 %}
        <div class="alert alert-danger">
            <strong>Đã có lỗi xảy ra</strong>
        </div>
        {% endif %}

    </div>
    <div class="col-sm-8">
      <h3>Đơn đã mua</h3>

    </div>
  </div>
</div>

{% endblock %}